//! **************************************************************************
// Written by: Map P.20131013 on Thu Feb 19 12:07:26 2015
//! **************************************************************************

SCHEMATIC START;
COMP "rx" LOCATE = SITE "N17" LEVEL 1;
COMP "tx" LOCATE = SITE "N18" LEVEL 1;
COMP "clk100" LOCATE = SITE "V10" LEVEL 1;
COMP "led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "T11" LEVEL 1;
PIN callStageMEM/callMEM_WB_Latch/outRegWrite_BUFG_pin<1> = BEL
        "callStageMEM/callMEM_WB_Latch/outRegWrite_BUFG" PINNAME O;
PIN "callStageMEM/callMEM_WB_Latch/outRegWrite_BUFG_pin<1>"
        CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

